<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.manage.system.mapper.TProductMapper">

    <select id="getProductDetail" resultType="com.shop.manage.system.dto.ProductDetailsResDto">
        select pro.id,
               pro.product_name,
               pro.product_type_id,
               pro.product_standard,
               pro.producing_area,
               pro.is_available,
               fil.product_image_url,
               pro.price
        from t_product pro
                 left join t_product_file fil
                 on pro.id = fil.product_id and fil.is_available='1'
        where pro.is_available ='1' ;
    </select>
</mapper>
